<template>
<div>
    <h1>Add Profession</h1>
    <v-dialog
      v-model="loading"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Please wait
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-form
        ref="form"
        lazy-validation
    >


    <messages :errors="errors" :success="success" success_message="New Profession added successfully">

    </messages>


        <v-text-field
            v-model="profession.name"
            name="name"
            label="Enter profession"
            required
          ></v-text-field>
        
        <v-checkbox
            v-model="profession.active"
            label="Active?"
            name="active"
        ></v-checkbox>

        <v-btn
        color="info"
        @click="checkForm"
        >
        Create
        </v-btn>
        <v-btn
        color="error"
        @click="reset"
        >
        Reset Form
        </v-btn>
        </v-form>

</div>
</template>
<script>
import Messages from '../helpers/messages.vue'
export default {
    
    data () {
    return {
            errors:[],
            loading: false,
            success:[],
            creating:false,
            profession: {
                name: null,
                active: 1
            }
    
        }
    },
    components: {
            'messages': Messages

        },
    methods:{
        checkForm:function(e){
            this.loading = true;
            this.errors = [];
            this.$http.post('api/professions', this.profession).then(function (response) {
                // Success
                console.log(response.data)
                this.loading = false;
                this.success.push(response.data.message);
                this.$refs.form.reset();
            },function (response) {
                // Error
                console.log(response.data)
                if(response.data.errors.name) {
                    this.loading = false;
                    this.errors.push('Please enter Profession');
                }
            });
            


        },
        reset () {
            this.$refs.form.reset()
        },
    }

}
</script>