<template>
<div>
    <h1>Edit Profession</h1>

    <v-dialog
      v-model="loading"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Please wait
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>


    <v-form
        ref="form"
        lazy-validation
    >
    <messages :errors="errors" :success="success" success_message="Profession updated successfully">

    </messages>

        <v-text-field
            v-model="profession.name"
            name="name"
            label="Enter profession"
            required
          ></v-text-field>
        
        <v-checkbox
            v-model="profession.active"
            label="Active?"
            name="active"
        ></v-checkbox>

        <v-btn
        color="info"
        @click="checkForm"
        >
        Update
        </v-btn>

        </v-form>

</div>
</template>
<script>



import Messages from '../helpers/messages.vue'

export default {
    created () {
        this.getProfession()
    },
    data () {
    return {
            errors:[],
            loading:false,
            success:[],
            profession: {}
    
        }
    },
    components: {
            'messages': Messages

        },
    methods:{
        
        
        getProfession () {
            this.loading = true;

            this.$http.get('api/professions/' + this.$route.params.profession)
            .then(response => {
                this.profession = response.body.data
                this.loading = false;
            })

        },
        checkForm:function(e){
            this.errors = [];
            this.loading = true;
            this.$http.put('api/professions/' + this.$route.params.profession, this.profession)
            .then(function (response) {
                // Success
                console.log(response.data)
                //this.success.push(response.data.message);
                this.loading = false;
                this.$router.push('/profession/list')
            },function (response) {
                // Error
                console.log(response.data)
                if(response.data.errors.name) {
                    this.loading = false;
                    this.errors.push('Please enter Profession');
                }
            });
            


        }
    }

}
</script>