<template>
<div>
    <h1>Add Location</h1>
    <v-dialog
      v-model="loading"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Please wait
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-form
        ref="form"
        lazy-validation
    >
    <messages :errors="errors" :success="success" success_message="New Location added successfully">

    </messages>

        <v-text-field
            v-model="location.name"
            name="name"
            label="Enter Location Name"
            required
          ></v-text-field>

          <v-text-field
            v-model="location.parent_id"
            name="name"
            label="Parent Location ID"
            required
          ></v-text-field>
        
        <v-checkbox
            v-model="location.active"
            label="Active?"
            name="active"
        ></v-checkbox>

        <v-btn
        color="info"
        @click="checkForm"
        >
        Create
        </v-btn>
        <v-btn
        color="error"
        @click="reset"
        >
        Reset Form
        </v-btn>
        </v-form>

</div>
</template>
<script>




import Messages from '../helpers/messages.vue'
export default {
    data () {
    return {
        success_message: "New Location Added Successfully",
            errors:[],
            success:[],
            loading:false,
            location: {
                name: null,
                parent_id: this.$route.params.parent,
                active: 1
            }
    
        }
    },
    components: {
            'messages': Messages

        },
    methods:{
        checkForm(){
            this.errors = [];
            this.loading = true;
            this.$http.post('api/locations', this.location).then(function (response) {
                // Success
                this.success.push(response.data.message);
                this.loading = false;
                this.$refs.form.reset();
            },function (response) {
                // Error
                if(response.data.errors.name) {
                    this.loading = false;
                    this.errors.push('Please enter Location Name');
                }
            });
            


        },
        reset () {
            this.$refs.form.reset()
        },
    }

}
</script>