<template>
  <v-card
    class="mx-auto"
    max-width="700"
  >
      <v-dialog
      v-model="loading"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Please wait
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-sheet class="pa-3 primary lighten-1">
      <v-text-field
        v-model="search"
        label="Search Location"
        dark
        flat
        solo-inverted
        hide-details
        clearable
        clear-icon="mdi-close-circle-outline"
      ></v-text-field>
      <v-checkbox
        v-model="caseSensitive"
        dark
        hide-details
        label="Case sensitive search"
      ></v-checkbox>
    </v-sheet>
    <v-card-text>
      <v-treeview
        :items="items"
        :search="search"
        :filter="filter"
        :open.sync="open"
      >
        <template v-slot:prepend="{ item }">
          <!--<v-btn to="/location/:item_id/create">
              Create New Child
          </v-btn>-->
          <router-link :to="{ name: 'LocationCreate', params: { parent: item.id }}">[+]</router-link>
          <v-icon
            v-if="item.children"
            v-text="`mdi-${item.id === 1 ? 'home-variant' : 'folder-network'}`"
          ></v-icon>
          
        </template>
        
      </v-treeview>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    data: () => ({
      items: [
      ],
      open: [1, 2],
      search: null,
      caseSensitive: false,
      loading: false
    }),
    mounted() {
      this.loading = true;
      this.$http.get("api/locjson")
        .then(response => response.json())
          .then((data) => {
              this.items = data.data;
              this.loading = false;
      })
    },
    computed: {
      filter () {
        return this.caseSensitive
          ? (item, search, textKey) => item[textKey].indexOf(search) > -1
          : undefined
      }
    }
  }
</script>