<template>
<div>
    <h1>Edit Category</h1>
    <div v-if="loading" class="loading">
          Please wait....
    </div>
    <v-form
        ref="form"
        lazy-validation
    >
    <messages :errors="errors" :success="success" success_message="Category updated successfully">

    </messages>

        <v-text-field
            v-model="category.name"
            name="name"
            label="Enter category"
            required
          ></v-text-field>
        
        <v-checkbox
            v-model="category.active"
            label="Active?"
            name="active"
        ></v-checkbox>

        <v-btn
        color="info"
        @click="checkForm"
        >
        Update
        </v-btn>

        </v-form>

</div>
</template>
<script>

import Messages from '../helpers/messages.vue'
export default {
    created () {
        this.getCategory()
    },
    data () {
    return {
            errors:[],
            success:[],
            loading: false,
            category: {}
    
        }
    },
    components: {
            'messages': Messages

        },
    methods:{
        getCategory () {
            this.loading = true;
            this.$http.get('api/categories/' + this.$route.params.category)
            .then(response => {
                this.loading = false;
                this.category = response.body.data
            })

        },

        checkForm () {
            this.loading = true;
            this.errors = [];
            this.$http.put('api/categories/' + this.$route.params.category, this.category)
            .then(function (response) {
                // Success
                console.log(response.data)
                //this.success.push(response.data.message);
                this.loading = false;
                this.$router.push('/category/list')
            },function (response) {
                // Error
                console.log(response.data)
                if(response.data.errors.name) {
                    this.loading = false;
                    this.errors.push('Please enter Category');
                }
            });
            


        }
    }

}
</script>