<template>
<div>
    <h1>Add User</h1>
    <v-dialog
      v-model="loading"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Please wait
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-form
        v-model="valid"
        ref="form"
        lazy-validation
    >

    <messages :errors="errors" :success="success" success_message="New User added successfully">

    </messages>


      <v-text-field
        v-model="user.name"
        name="name"
        label="Name"
        required
        :rules="nameRules"
      ></v-text-field>

      <v-text-field
        v-model="user.email"
        name="email"
        label="User Name"
        required
        :rules="emailRules"
      ></v-text-field>

      <v-text-field
        v-model="user.password"
        :type="'password'"
        name="password"
        label="Password"
        required
        :rules="passwordRules"
      ></v-text-field>


      <v-combobox
          v-model = "user.locations"
          item-text = "name"
          item-value = "id"
          :items = "locations"
          label = "Locations"
          multiple
        ></v-combobox>

      <v-text-field
        v-model="user.mobile_no"
        name="mobile_no"
        label="Mobile Number"
        required
      ></v-text-field>  

      <v-btn
        :disabled="!valid"
        color="info"
        @click="checkForm"
        >
        Create
      </v-btn>

      <v-btn
        color="error"
        @click="reset"
        >
        Reset Form
      </v-btn>

      </v-form>

</div>
</template>
<script>

import Messages from '../helpers/messages.vue'
export default {
    data () {
    return {
            errors:[],
            success:[],
            loading:false,
            user: {},
            locations: [],
            valid: true,
            name: '',
            nameRules: [
              v => !!v || 'Name is required'
            ],
            email: '',
            emailRules: [
              v => !!v || 'E-mail is required',
              v => /.+@.+/.test(v) || 'E-mail must be valid'
            ],
            passwordRules: [
              v => !!v || 'Password is required',
            ],
    
        }
    },
    mounted() {
          this.loading = true;
          
            this.$http.get("api/locations")
              .then(response => response.json())
              .then((data) => {
                this.locations = data.data;

                this.loading = false;
              })
          },
    components: {
            'messages': Messages
            

        },
    methods:{
        checkForm:function(e){
            this.errors = [];
            this.loading = true;
            this.$http.post('api/users', this.user).then(function (response) {
                // Success
                console.log(response.data)
                this.success.push(response.data.message);
                this.loading = false;
                this.$refs.form.reset();
            },function (response) {
                // Error
                console.log(response.data)
                if(response.data.errors.name) {
                    this.loading = false;
                    this.errors.push('Please fill all the required fields');
                }
            });
            


        },
        reset () {
            this.$refs.form.reset()
        },
    }

}
</script>