<template>
<div>
    <h1>Edit User</h1>
    <v-dialog
      v-model="loading"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Please wait
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-form
        v-model="valid"
        ref="form"
        lazy-validation
    >

    <messages :errors="errors" :success="success" success_message="User Updated successfully">

    </messages>


      <v-text-field
        v-model="user.name"
        name="name"
        label="Name"
        required
        :rules="nameRules"
      ></v-text-field>

      <v-text-field
        v-model="user.email"
        name="email1"
        label="User Name"
        required
        :rules="emailRules"
      ></v-text-field>

      <v-text-field
        v-model="user.password"
        :type="'password'"
        name="password"
        label="Password"
        required
        :rules="passwordRules"
      ></v-text-field>


      <v-combobox
          v-model="user.locations"
          :items="locations"
          item-text = "name"
          item-value = "id"
          label="Locations"
          multiple
        ></v-combobox>  

      <v-btn
        :disabled="!valid"
        color="info"
        @click="checkForm"
        >
        Update
      </v-btn>


      </v-form>

</div>
</template>
<script>




import Messages from '../helpers/messages.vue'
export default {
    created () {
        this.getUser()
    },
    data () {
    return {
            errors:[],
            success:[],
            loading: false,
            user: {},
            locations: [],
            valid: true,
            name: '',
            nameRules: [
              v => !!v || 'Name is required'
            ],
            email: '',
            emailRules: [
              v => !!v || 'E-mail is required',
              v => /.+@.+/.test(v) || 'E-mail must be valid'
            ],
            passwordRules: [
              v => !!v || 'Password is required',
            ],
    
        }
    },
    mounted() {
          this.loading = true;
            this.$http.get("api/locations")
              .then(response => response.json())
              .then((data) => {
                this.locations = data.data;
                this.loading = false;
              })
          },
    components: {
          'messages': Messages
        },
    methods:{
        getUser () {
            this.loading = true;
            this.$http.get('api/users/' + this.$route.params.user)
            .then(response => {
                this.loading = false;
                this.user = response.body.data
            })

        },
        checkForm:function(e){
            this.errors = [];
            this.loading = true;
            this.$http.put('api/users/' + this.$route.params.user, this.user)
            .then(function (response) {
                // Success
                console.log(response.data)
                //this.success.push(response.data.message);
                this.loading = false;
                this.$router.push('/user/list')
            },function (response) {
                // Error
                console.log(response.data)
                if(response.data.errors.name) {
                    this.loading = false;
                    this.errors.push('Please fill all the required fields');
                }
            });
            


        }
    }

}
</script>