<template>
<div>
    
    <v-alert
        v-if="errors.length"
        :value="true"
        type="error"
        >
        <ul>
            <li v-for="error in errors" :key="error.id">{{ error }}</li>
            </ul>
        </v-alert>

        <v-alert
        v-if="success.length"
        :value="true"
        type="success"
        >
        {{success_message}}
        </v-alert>
</div>
</template>

<script>
    export default{
        props: ['errors', 'success', 'success_message'],

        methods: {
            
        }

    }
</script>
