  html, body {
    padding: 0px;

  }
  .title {
    padding: 10px;
  }
  h1{
    color: #1976d2;
    font-size: 2rem;
    border-bottom: 1px solid gray;
    padding: 12px 0 15px 0px;
    margin-bottom: 20px;
  }

  #additional_details{
    padding:0 0 20px 0;
  }
  #nav {
    padding: 30px;
  }
  
  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  #nav a.router-link-exact-active {
    color: #42b983;
  }

  .loading{
    width:98%;
    height:200px;
    z-index:9999;
    background-color:#ccc;
    position:absolute;
    text-align:center;
    padding:40px 0 0 0;
    font-weight:bold;font-size:25px;
    opacity:0.7
    }

    .v-alert ul{
      list-style: none;
      margin-bottom: 0px;
      font-weight: bold;
    }
    .v-alert.v-alert {
      margin-bottom: 20px;
    }
    .btn-primary, .btn-danger {
      margin: 15px 15px 10px 0px;
    }
    .v-window__container{
      padding:15px;
      background-color: white;
    }
    .v-input{
      flex:none;
    }