<template>
  <div>

  <v-expansion-panel>
    <v-expansion-panel-content>
      <template v-slot:header>
        <div class="heading">Filters</div>
      </template>
      <v-card>
        <v-card-text>
          <v-form>
            <v-container grid-list-md>
              <v-layout row wrap>
                <v-flex xs6>
                  <v-select
                    v-model="report.contact_status"
                    :items="contact_statuses"
                    label="Contact Status"
                  ></v-select>
                </v-flex>

                <v-flex xs6>
                  <v-select
                    v-model="report.contact_response"
                    :items="contact_responses"
                    label="Contact Response"
                  ></v-select>
                </v-flex>
                <v-flex xs6>
                  <v-select
                    v-model="report.participation"
                    :items="participations"
                    label="Status of Participation"
                  ></v-select>
                </v-flex>

                <v-flex xs6>
                  <v-select
                    v-model="report.successful_followups"
                    :items="no_followups"
                    label="Successful Followups"
                  ></v-select>
                </v-flex>

                <v-flex xs6>
                  <v-select
                    v-model="report.unsuccessful_followups"
                    :items="no_followups"
                    label="Unsuccessful Followups"
                  ></v-select>
                </v-flex>

                <v-flex xs6>
                  <v-autocomplete
                    v-model="report.country"
                    :items="countries"
                    :loading="isLoading"
                    :search-input.sync="search"
                    @change="selectState"
                    chips
                    clearable
                    hide-details
                    hide-selected
                    label="Country"
                    solo
                  >
                  </v-autocomplete>
                </v-flex>

                <v-flex xs6>
                  <v-autocomplete
                    v-if="filteredStates.length"
                    v-model="report.state"
                    :items="filteredStates"
                    :loading="isLoading"
                    :search-input.sync="search"
                    @change="selectDistrict"
                    chips
                    clearable
                    hide-details
                    hide-selected
                    label="State"
                    solo
                  >
                  </v-autocomplete>
                </v-flex>

                <v-flex xs6>
                  <v-autocomplete
                    v-if="filteredDistricts.length"
                    v-model="report.district"
                    :items="filteredDistricts"
                    :loading="isLoading"
                    :search-input.sync="search"
                    chips
                    clearable
                    hide-details
                    hide-selected
                    label="District"
                    solo
                  >
                  </v-autocomplete>
                </v-flex>

                <v-flex xs6>
                  <v-select
                    v-model="report.contact_group"
                    :items="contact_groups"
                    label="Contact Group"
                  ></v-select>
                </v-flex> 

                <v-flex xs6>               

                  <v-autocomplete
                    v-model="report.location_id"
                    :items="memberLocations"
                    :loading="isLoading"
                    :search-input.sync="search"
                    chips
                    clearable
                    hide-details
                    hide-selected
                    item-text="name"
                    item-value="id"
                    label="Location"
                    solo
                  >
                  </v-autocomplete>

                <v-checkbox 
                v-model="report.include_sublocation" 
                label="Include Sublocation?" 
                value="1">
                </v-checkbox>
                </v-flex>

            <v-btn
              color="primary"
              @click="loadItems"
            >
              Filter
            </v-btn>

            <v-btn 
              type="reset" 
              color="warning"
              @click="resetFilter" >
              Reset
            </v-btn>
              </v-layout>
            </v-container>
        </v-form>

        </v-card-text>
      </v-card>
    </v-expansion-panel-content>
  </v-expansion-panel>   


    <vue-good-table
      mode="remote"
      :totalRows="totalRecords"
      @on-page-change="onPageChange"
      @on-sort-change="onSortChange"
      @on-column-filter="onColumnFilter"
      @on-per-page-change="onPerPageChange"
      :isLoading.sync="isLoading"
      :pagination-options="{
        enabled: true
      }"
      :sort-options="{
        enabled: true,
        initialSortBy: {field: 'created_at', type: 'desc'}
      }"
      :search-options="{
        enabled: true,
        trigger: 'enter',
        //searchFn: searchMembers,
        placeholder: 'Search Members',
      }"
      :columns="columns"
      @on-search="onSearch" 
      :rows="rows"
      :fixed-header="false">

        <template slot="table-row" slot-scope="props">
          <span v-if="props.column.field == 'id'">
            <v-btn
            color="primary"
            @click="memberDetails(props.row.id)"
            >
            {{props.row.id}}
            </v-btn>
          </span>
        </template>

    </vue-good-table>

  </div>
</template>

<script>
import { contact_statuses, contact_responses, participations, countries, states, districts } from '../packages/constants';

export default {
  name: 'my-component',
  data(){
    return {
      search: null,
      report:{},
      memberLocations:[],
      contact_statuses: contact_statuses,
      contact_responses: contact_responses,
      participations: participations,
      no_followups: ['', 1, 2, 3, 4, 5],
      countries: countries,
      filteredStates:[],
      states: states,
      filteredDistricts: [],
      districts: districts,
      contact_groups: ['','Pending','Unsuccessful','Active','Passive','Spam'],
      isLoading: false,
      totalRecords:0,
      rows: [],
      skip:0,
      columns: [
        {
          label: 'ID',
          field: 'id'
        },
        {
          label: 'Created',
          field: 'created_at',
          type: 'date',
          dateInputFormat: 'DD-MM-YYYY',
          dateOutputFormat: 'YYYY-MM-DD'
        },
        {
          label: 'Name',
          field: 'fullname',
          filterable: true,
        },
        {
          label: 'Country',
          field: 'country',
          filterable: true,
        },
        {
          label: 'State',
          field: 'state',
          filterable: true,
        },
        {
          label: 'District',
          field: 'district',
          filterable: true,
        },
        {
          label: 'Contact',
          field: 'mobile',
          filterable: true,
        },
        {
          label: 'Email',
          field: 'email',
        },
        {
          label: 'Location',
          field: 'location',
        },
        {
          label: 'Contact Status',
          field: 'cs',
        },
        {
          label: 'Contact Response',
          field: 'cr',
        },
        {
          label: 'Participation',
          field: 'ps',
        }
      ],
      serverParams: {
        columnFilters: {
        },
        sort: [{
          field: 'created_at', 
          type: 'desc',
        }],
        currentPage: 1, 
        currentPerPage: 10
      },

    };
  },
  created() {
      this.contact_statuses.splice(0, 0, '');
      this.contact_responses.splice(0, 0, '');
      this.participations.splice(0, 0, '');
      this.countries.splice(0, 0, '');
  },
  mounted() {
      this.$http.get("api/mylocs")
        .then(response => response.json())
          .then((data) => {
              this.memberLocations = data.data;
      })
    },
  computed: {

    },
  methods: {
    updateParams(newProps) {
      this.serverParams = Object.assign({}, this.serverParams, newProps);
    },
    
    onPageChange(params) {
      this.updateParams({page: params.currentPage});
      this.loadItems(params);
    },

    onPerPageChange(params) {
      this.updateParams({perPage: params.currentPerPage});
      this.loadItems(params);
    },

    onSortChange(params) {
      /*this.updateParams({
        sort: [{
          type: params.sortType,
          field: this.columns[params.columnIndex].field,
        }],
      }); */
      this.serverParams.sort[0].field = params[0].field;
      this.serverParams.sort[0].type = params[0].type;
      this.loadItems(this.serverParams);
         
    },
    
    onColumnFilter(params) {
      this.updateParams(params);
      this.loadItems(params);
    },

    // load items is what brings back the rows from server
    loadItems(params) {
         this.loading = true;
         this.skip = (params.currentPage - 1) * params.currentPerPage;

        this.$http.post("api/filter?count=1&skip="+this.skip+"&limit="+this.serverParams.perPage+"&orderby="+this.serverParams.sort[0].field+"&ordertype="+this.serverParams.sort[0].type, this.report)
          .then(response => response.json())
          .then((data) => {
            this.totalRecords = data.data;
          })

        this.skip = (params.currentPage - 1) * params.currentPerPage;
        this.$http.post("api/filter?skip="+this.skip+"&limit="+this.serverParams.perPage+"&orderby="+this.serverParams.sort[0].field+"&ordertype="+this.serverParams.sort[0].type, this.report)
          .then(response => response.json())
          .then((data) => {
            this.rows = data.data;
            this.loading = false;
          })

    },
    selectState () {
        if (typeof this.report.country === 'undefined') {
          this.filteredStates = [];
          this.filteredDistricts = [];
          this.report.state = '';
          this.report.district = '';

        }
        else {
          if (this.states[this.report.country]){
            this.filteredStates = this.states[this.report.country]

            if(this.districts[this.report.state]){
              this.filteredDistricts = this.districts[this.report.state]
            }
            else {
              this.filteredDistricts = [];
            }

          }
          else {
            this.filteredStates = [];
            this.filteredDistricts = [];
          }

        }

      },
    selectDistrict () {
        if (typeof this.report.state === 'undefined') {
          this.filteredDistricts = [];
          this.report.district = '';

        }

        if (this.filteredStates.length > 0) {
            if(this.districts[this.report.state]){
              this.filteredDistricts = this.districts[this.report.state]
            }
          else {
            this.filteredDistricts = [];
          }
          
        }
        else {
          this.filteredDistricts = [];
        }

      },
      onSearch(params){
        //console.log(params);
         this.loading = true;
         this.skip = (params.currentPage - 1) * params.currentPerPage;

        this.$http.post("api/search?count=1&keyword="+params.searchTerm+"&skip="+this.skip+"&limit="+this.serverParams.perPage+"&orderby="+this.serverParams.sort[0].field+"&ordertype="+this.serverParams.sort[0].type)
          .then(response => response.json())
          .then((data) => {
            this.totalRecords = data.data;
          })

        this.skip = (params.currentPage - 1) * params.currentPerPage;
        this.$http.post("api/search?keyword="+params.searchTerm+"&skip="+this.skip+"&limit="+this.serverParams.perPage+"&orderby="+this.serverParams.sort[0].field+"&ordertype="+this.serverParams.sort[0].type)
          .then(response => response.json())
          .then((data) => {
            this.rows = data.data;
            this.loading = false;
          })

      },
      memberDetails(rowid) {
        this.$router.push("/member/"+rowid+"/view");
      },
      resetFilter() {
        this.report = {};
        this.filteredStates = [];
        this.filteredDistricts = [];
      }
  }
};
</script>
