<template>
        <v-layout align-center justify-center>
              <v-dialog
              v-model="loading"
              hide-overlay
              persistent
              width="300"
            >
              <v-card
                color="primary"
                dark
              >
                <v-card-text>
                  Please wait
                  <v-progress-linear
                    indeterminate
                    color="white"
                    class="mb-0"
                  ></v-progress-linear>
                </v-card-text>
              </v-card>
            </v-dialog>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer></v-spacer>
               
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="person" v-model="email" label="Email" type="text"></v-text-field>
                  <v-text-field id="password" prepend-icon="lock" v-model="password" label="Password" type="password"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click='logIn'>Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
</template>


<script>  
export default {
    data(){
      return {
        email:null,
        password:null,
        loading: false
      }
    },
    methods: {
      logIn(){
        var data = {
          client_id: 2,
          client_secret: '0CY5UfGoWAn3ZCL7y6ooLfnqjr9ein4JyqdmI3Q3',
          grant_type: 'password',
          username: this.email,
          password: this.password

        }
        this.loading = true;
        this.$http.post("oauth/token", data)
        .then(function (response) {
          this.$auth.setToken(response.body.access_token, response.body.expires_in + Date.now())
          this.$router.push("/")
          this.$router.go()
          this.loading = false;
        })
        
      }
    }
}
</script>