<template>
    
</template>
<script>
export default {
    created () {
       // this.$router.go()
       //window.location.reload(true);
       this.$auth.destroyToken();
       this.$router.push("/")
    },
    data(){
      return {

      }
    }
}
</script>

