<template>

<v-form v-model="valid">
  <v-stepper v-model="e1">
  <p v-if="errors.length">
    <b>Please correct the following error(s):</b>
    <ul>
      <li v-for="error in errors" :key="error.id">{{ error }}</li>
    </ul>
  </p>

    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" step="1">Basic Details</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" step="2">Subscription Details</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3">Additional Details</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
      <v-select
          v-model="member.salutation"
          :items="salutations"
          label="Salutation"
        ></v-select>
      <v-text-field
            v-model="member.firstname"
            :rules="nameRules"
            name="firstname"
            label="First Name"
            required
          ></v-text-field>

      <v-text-field
            v-model="member.lastname"
            :rules="nameRules"
            name="lastname"
            label="Last Name"
            required
          ></v-text-field>
      <v-text-field
            v-model="member.email"
            :rules="emailRules"
            name="email"
            label="Email Address"
            required
          ></v-text-field>
      <v-text-field
            v-model="member.mobile_country_code"
            name="mobile_country_code"
            label="Country Code"
          ></v-text-field>

      <v-text-field
            v-model="member.mobile_number"
            name="mobile_number"
            label="Mobile Number"
          ></v-text-field>
    
    <v-select
          v-model="member.country"
          :items="countries"
          label="Country"
          required
          @change="selectState"
        ></v-select>

    <v-select
          v-if="filteredStates.length"
          v-model="member.state"
          :items="filteredStates"
          label="State"
          required
          @change="selectDistrict"
        ></v-select>

    <v-select
          v-if="filteredDistricts.length > 1"
          v-model="member.district"
          :items="filteredDistricts"
          label="District"
          required
        ></v-select>
          
    <v-text-field
            v-model="member.city"
            name="city"
            label="City/Village"
            required
          ></v-text-field>
    <v-text-field
            v-model="member.birthyear"
            name="birthyear"
            label="Year of Birth"
            required
          ></v-text-field>

        <v-btn
          :disabled="!valid"
          color="primary"
          @click="e1 = 2"
        >
          Continue
        </v-btn>

      </v-stepper-content>

      <v-stepper-content step="2">
          <v-checkbox 
          v-model="member.english_newsletter" 
          label="Occasional English Newsletter" 
          value="englishnewsletter">
          </v-checkbox>

          <v-checkbox 
          v-model="member.hindi_newsletter" 
          label="Occasional Hindi Newsletter" 
          value="hindinewsletter">
          </v-checkbox>
      
        <v-btn
          color="primary"
          @click="e1 = 3"
        >
          Continue
        </v-btn>

         <v-btn
          color="primary"
          @click="e1 = 1"
        >
          Back to Previous Step
        </v-btn>

      </v-stepper-content>

      <v-stepper-content step="3">
        <v-select
          v-model="member.profession_id"
          :items="professions"
          item-text="name"
          item-value="id"
          label="Profession"
        ></v-select>
          <v-text-field
            v-model="member.whatsapp"
            name="whatsapp"
            label="Enter your Whatsapp Number"
          ></v-text-field>
          <v-text-field
            v-model="member.facebook"
            name="facebook"
            label="Enter your Facebook Link"
          ></v-text-field>
           <v-text-field
            v-model="member.twitter"
            name="twitter"
            label="Enter your Twitter Link"
          ></v-text-field>
          <v-textarea
            v-model="member.participation"
            name="participation"
            label="I can contribute by"
          ></v-textarea>

        <v-btn 
          @click="checkForm" 
          color="success">
          Submit
        </v-btn>

        <v-btn
          color="primary"
          @click="e1 = 2"
        >
          Back to Previous Step
        </v-btn>

        <v-btn 
          type="reset" 
          @click="reset"
          color="warning">
          Reset
        </v-btn>

      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>

</v-form>
</template>

<script>
import { salutations, countries, states, districts } from '../packages/constants.js'
export default {
  name: 'app',
  data () {
    return {
      e1: 0,
      valid: true,
      firstname: '',
      lastname: '',
      nameRules: [
        v => !!v || 'Name is required'
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],

      salutations: salutations, //Assigned from the constants file
      countries: countries, //Assigned from the constants file
      filteredStates:[],
      states: states, //Assigned from the constants file
      filteredDistricts: [],
      districts: districts, //Assigned from the constants file
      professions:[],
      errors:[],
      member: {},
    
    }
  },
  mounted() {
      this.$http.get("api/professions")
        .then(response => response.json())
          .then((data) => {
            this.professions = data.data;
          })
      
      },
    methods:{

      selectState () {
        if (this.member.country.length > 0) {
          this.filteredStates = this.states[this.member.country]
        }

      },
      selectDistrict () {
        if (this.member.state.length > 0) {
            if(this.districts[this.member.state]){
              this.filteredDistricts = this.districts[this.member.state]
            }
          else {
            this.filteredDistricts = [];
          }
          
        }

      },
      checkForm () {
        this.$http.post('api/register', this.member)
          .then(response => {
            //console.log.response
            //this.$router.push('/feed')
            this.success.push(response.data.message);
          })
      },
      updateComponent(){    
				Object.assign(this.$data, this.$options.data.call(this)) 
      },
      reset () {
        this.$refs.form.reset()
      }
    
  }
}
</script>