<template>
<div>
    <h1>Edit Seeker</h1>
    <v-form
        ref="form"
        lazy-validation

    >   
    <v-dialog
      v-model="loading"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Please wait
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>

    <messages :errors="errors" :success="success" success_message="Seeker updated successfully">

    </messages>


        <v-text-field
            v-model="seeker.name"
            name="name"
            label="Enter Seekers Name"
            required
          ></v-text-field>
        
        <v-checkbox
            v-model="seeker.active"
            label="Active?"
            name="active"
        ></v-checkbox>

        <v-btn
        color="info"
        @click="checkForm"
        >
        Update
        </v-btn>

        </v-form>

</div>
</template>
<script>




import Messages from '../helpers/messages.vue'
export default {
    created () {
        this.getSeeker()
    },
    data () {
    return {
            errors:[],
            success:[],
            seeker: {},
            loading: false
    
        }
    },
    components: {
            'messages': Messages

        },
    methods:{
        getSeeker () {
            this.loading = true;
            this.$http.get('api/seekers/' + this.$route.params.seeker)
            .then(response => {
                this.seeker = response.body.data
                this.loading = false;
            })
            
        },
        checkForm:function(e){
            this.errors = [];
            this.loading = true;
            this.$http.put('api/seekers/' + this.$route.params.seeker, this.seeker)
            .then(function (response) {
                // Success
                console.log(response.data)
                //this.success.push(response.data.message);
                this.loading = false;
                this.$router.push('/seeker/list')
            },function (response) {
                // Error
                console.log(response.data)
                if(response.data.errors.name) {
                    this.loading = false;
                    this.errors.push('Please enter Seeker Name');
                }
            });
            


        }
    }

}
</script>