<template>
<div>
    <h1>Edit Organization</h1>

    <v-dialog
      v-model="loading"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Please wait
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-form
        ref="form"
        lazy-validation
    >
    <messages :errors="errors" :success="success" success_message="Organization updated successfully">

    </messages>

        <v-text-field
            v-model="organization.name"
            name="name"
            label="Enter organization"
            required
          ></v-text-field>
        
        <v-checkbox
            v-model="organization.active"
            label="Active?"
            name="active"
        ></v-checkbox>

        <v-btn
        color="info"
        @click="checkForm"
        >
        Update
        </v-btn>

        </v-form>

</div>
</template>
<script>




import Messages from '../helpers/messages.vue'
export default {
    created () {
        this.getOrganization()
    },
    data () {
    return {
            errors:[],
            success:[],
            loading:false,
            organization: {}
    
        }
    },
    components: {
            'messages': Messages

        },
    methods:{
        getOrganization () {
            this.loading = true;
            this.$http.get('api/organizations/' + this.$route.params.organization)
            .then(response => {
                this.organization = response.body.data
                this.loading = false;
            })

        },
        checkForm:function(e){
            this.errors = [];
            this.loading = true;
            this.$http.put('api/organizations/' + this.$route.params.organization, this.organization)
            .then(function (response) {
                // Success
                console.log(response.data)
                //this.success.push(response.data.message);
                this.loading = false;
                this.$router.push('/organization/list')
            },function (response) {
                // Error
                console.log(response.data)
                if(response.data.errors.name) {
                    this.loading = false;
                    this.errors.push('Please enter Organization');
                }
            });
            


        }
    }

}
</script>