<template>
  <b-container fluid>
    <h1>Members</h1>
    <!-- User Interface controls -->
    <b-row>
    <v-dialog
      v-model="loading"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Please wait
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>

  <v-expansion-panel>
    <v-expansion-panel-content>
      <template v-slot:header>
        <div class="heading">Filters</div>
      </template>
      <v-card>
        <v-card-text>
          <v-form>
            <v-container grid-list-md>
              <v-layout row wrap>
                <v-flex xs6>
                  <v-select
                    v-model="report.contact_status"
                    :items="contact_statuses"
                    label="Contact Status"
                  ></v-select>
                </v-flex>

                <v-flex xs6>
                  <v-select
                    v-model="report.contact_response"
                    :items="contact_responses"
                    label="Contact Response"
                  ></v-select>
                </v-flex>
                <v-flex xs6>
                  <v-select
                    v-model="report.participation"
                    :items="participations"
                    label="Status of Participation"
                  ></v-select>
                </v-flex>

                <v-flex xs6>
                  <v-select
                    v-model="report.successful_followups"
                    :items="no_followups"
                    label="Successful Followups"
                  ></v-select>
                </v-flex>

                <v-flex xs6>
                  <v-select
                    v-model="report.unsuccessful_followups"
                    :items="no_followups"
                    label="Unsuccessful Followups"
                  ></v-select>
                </v-flex>

                <v-flex xs6>
                  <v-select
                    v-model="report.country"
                    :items="countries"
                    label="Country"
                    @change="selectState"
                  ></v-select>
                </v-flex>

                <v-flex xs6>
                  <v-select
                    v-if="filteredStates.length"
                    v-model="report.state"
                    :items="filteredStates"
                    label="State"
                    @change="selectDistrict"
                  ></v-select>
                </v-flex>

                <v-flex xs6>
                  <v-select
                    v-if="filteredDistricts.length"
                    v-model="report.district"
                    :items="filteredDistricts"
                    label="District"
                  ></v-select>
                </v-flex>

                <v-flex xs6>
                  <v-select
                    v-model="report.contact_group"
                    :items="contact_groups"
                    label="Contact Group"
                  ></v-select>
                </v-flex>                

                <v-flex xs12> 
                  <v-card
                    class="mx-auto"
                    max-width="auto"
                  >
                    <v-sheet class="pa-3 primary lighten-1">
                      <v-text-field
                        v-model="search"
                        label="Search Location"
                        dark
                        flat
                        solo-inverted
                        hide-details
                        clearable
                        clear-icon="mdi-close-circle-outline"
                      ></v-text-field>
                      <v-checkbox
                        v-model="caseSensitive"
                        dark
                        hide-details
                        label="Case sensitive search"
                      ></v-checkbox>
                    </v-sheet>
                    <v-card-text style="margin-bottom:20px">
                      <v-treeview
                        :items="locations"
                        :search="search"
                        :filter="reportfilter"
                        :open="open"
                      >
                        <template v-slot:prepend="{ item, open }">
                          <v-checkbox 
                            v-model="report.location_id"
                            v-bind:value="item.id" 
                            >
                          </v-checkbox>
                        </template>
                      </v-treeview>
                  </v-card-text>
                  </v-card>

                <v-checkbox 
                v-model="report.include_sublocation" 
                label="Include Sublocation?" 
                value="1">
                </v-checkbox>
                </v-flex>

            <v-btn
              color="primary"
              @click="filtermembers"
            >
              Filter
            </v-btn>

            <v-btn 
              type="reset" 
              color="warning">
              Reset
            </v-btn>
              </v-layout>
            </v-container>
        </v-form>

        </v-card-text>
      </v-card>
    </v-expansion-panel-content>
  </v-expansion-panel>   



      <b-col md="6" class="my-1">
        <b-form-group label-cols-sm="3" label="Filter" @keypress="serversidekeywordsearch" class="mb-0">
          <b-input-group>
            <b-form-input v-model="filter" placeholder="Type to Search"></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>


      <b-col md="6" class="my-1">
        <b-form-group label-cols-sm="3" label="Per page" class="mb-0">
          <b-form-select v-model="perPage" :options="pageOptions"></b-form-select>
        </b-form-group>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table
      show-empty
      stacked="md"
      :items="items"
      :fields="fields"
      :current-page="currentPage" 
      :per-page="perPage"
      :filter="filter"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
    >
 

      <template slot="actions" slot-scope="row">
        <!-- <b-button size="sm" @click="info(row.item, row.index, $event.target)" class="mr-1">
          Info modal
        </b-button> 
        <b-button size="sm" @click="row.toggleDetails" class="mr-1">
          {{ row.detailsShowing ? 'Hide' : 'Show' }} Details
        </b-button> -->
        <b-button size="sm" @click="memberDetails(row.item)">
          Member Details
        </b-button>
      </template>

      <template slot="row-details" slot-scope="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
          </ul>
        </b-card>
      </template>
    </b-table>

    <b-row>
      <b-col md="6" class="my-1" @click="getServerData">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>


  </b-container>
</template>

<script>
 import { contact_statuses, contact_responses, participations, countries, states, districts } from '../../packages/constants';
  export default {
    data() {
      return {
        items: [],
        fields: [
          { key: 'id', label: 'ID', sortable: true, sortDirection: 'desc' },
          { key: 'fullname', label: 'Name', sortable: true, sortDirection: 'desc' },
          { key: 'email', label: 'Email', sortable: true, sortDirection: 'desc' },
          { key: 'location', label: 'Location', sortable: true, sortDirection: 'desc' },
          { key: 'actions', label: 'Actions' }
        ],
        loading: false,
        currentPage: this.$route.params.page,
        perPage: 5,
        totalRows: null,
        pageOptions: [5, 10, 15],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        search: null,
        caseSensitive: false,
        open: [1, 2],
        report:{},
        locations:[],
        contact_statuses: contact_statuses,
        contact_responses: contact_responses,
        participations: participations,
        no_followups: ['', 1, 2, 3, 4, 5],
        countries: countries,
        filteredStates:[],
        states: states,
        filteredDistricts: [],
        districts: districts,
        contact_groups: ['','Pending','Unsuccessful','Active','Passive','Spam']
      }
      
    },
    created(){
      this.contact_statuses.splice(0, 0, '');
      this.contact_responses.splice(0, 0, '');
      this.participations.splice(0, 0, '');
      this.countries.splice(0, 0, '');

      this.loading = true;
          
            this.$http.get("api/list?skip=0&limit=10")
              .then(response => response.json())
              .then((data) => {
                this.items = data.data;
                this.totalRows = 10;
                this.loading = false;
              })
    },
    mounted() {
      this.$http.get("api/locjson")
        .then(response => response.json())
          .then((data) => {
              this.locations = data.data;
      })
    },
    computed: {

      //Location filter used in the filters section
      reportfilter () {
        return this.caseSensitive
          ? (item, search, textKey) => item[textKey].indexOf(search) > -1
          : undefined
      },

      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return { text: f.label, value: f.key }
          })
      }
    },
    methods: {
      info(item, index, button) {
        this.modalInfo.title = `Row index: ${index}`
        this.modalInfo.content = JSON.stringify(item, null, 2)
        this.$root.$emit('bv::show::modal', 'modalInfo', button)
      },
      resetModal() {
        this.modalInfo.title = ''
        this.modalInfo.content = ''
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = this.$route.params.page
      },
      serversidekeywordsearch() {

      },
      getServerData(){
        /*this.$router.push('/member/list/' + this.currentPage)
        this.$router.go()

         this.loading = true;
            this.$http.get("api/members?limit=" + this.perPage + "&page=" + this.$route.params.page)
              .then(response => response.json())
              .then((data) => {
                this.items = data.data;
                this.totalRows = 10;
                this.loading = false;
              })*/
      },
      memberDetails(item){

        this.$router.push('/member/' + item.id + '/view')

      },
      filtermembers() {
        this.$http.post('api/filter', this.report)
          .then(response => {
            //console.log.response
            //this.$router.push('/feed')
            this.success.push(response.data.message);
          })
      },
      reset () {
        this.$refs.form.reset();
        this.filteredStates = [];
        this.report.state = '';
      },
      selectState () {
        if (this.report.country.length > 0) {
          this.filteredStates = this.states[this.report.country]
        }
        else {
          this.filteredStates = [];
        }

        if (this.filteredStates.length > 0) {
            if(this.districts[this.report.state]){
              this.filteredDistricts = this.districts[this.report.state]
            }
          else {
            this.filteredDistricts = [];
          }
          
        }
        else {
          this.filteredDistricts = [];
        }

      },
      selectDistrict () {
        if (this.filteredStates.length > 0) {
            if(this.districts[this.report.state]){
              this.filteredDistricts = this.districts[this.report.state]
            }
          else {
            this.filteredDistricts = [];
          }
          
        }
        else {
          this.filteredDistricts = [];
        }

      },
    }
  }
</script>