<template>
    <div>

        {{member.firstname}}

    </div>
</template>
<script>
    export default{
        props: ['member', 'authenticatedUser'],

        methods: {
            
        }

    }
</script>