<template>
    <div>
        <profile-member
            v-for="member in members"
            :authenticatedUser="authenticatedUser"
            :member="member" :key='member.id'>
        </profile-member>
    </div>
</template>

<script>
    import Member from './Member.vue'
    export default {
        data () {
            return {
                members: []
            }
        },
        components: {
            'profile-member': Member

        },
        computed: { //This will pass the authenticated user data to all the members page
            authenticatedUser () {
                return this.$auth.getAuthenticatedUser()
            }

        },

        created () {
            this.$http.get('api/members')
                .then(response => {
                    this.members = response.body.data
                })
        }
    }
</script>
