<template>
  <div>

  <p v-if="errors.length">
    <b>Please correct the following error(s):</b>
    <ul>
      <li v-for="error in errors" :key="error.id">{{ error }}</li>
    </ul>
  </p>

      <h1>{{member.salutation}} {{member.firstname}} {{member.lastname}}</h1>
    <v-dialog
      v-model="loading"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Please wait
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <messages :errors="errors" :success="success" success_message="Member updated successfully">

    </messages>



    <v-tabs
      v-model="active"
      color="blue"
      dark
      slider-color="red"
    >
      <v-tab>Basic</v-tab>
      <v-tab>Additional</v-tab>
      <v-tab>Admin</v-tab>
      <v-tab>Followup</v-tab>

      <!-- Basic Tab -->
      <v-tab-item>
        <v-card flat>
            <v-flex xs12 sm6 md3>
            <v-text-field
                v-model="member.firstname"
                name="firstname"
                label="Firstname"
            ></v-text-field>

            <v-text-field
                v-model="member.lastname"
                name="lastname"
                label="Lastname"
            ></v-text-field>

            <v-text-field
                v-model="member.email"
                name="email"
                label="Email Address"
            ></v-text-field>


            <v-text-field
                v-model="member.mobile_country_code"
                name="mobile_country_code"
                label="Country Code"
            ></v-text-field>

            <v-text-field
                v-model="member.mobile_number"
                name="mobile_number"
                label="Mobile Number"
            ></v-text-field>

            <v-text-field
                v-model="member.country"
                name="country"
                label="Country"
            ></v-text-field>
            <v-text-field
                v-model="member.state"
                name="state"
                label="State"
            ></v-text-field>
            <v-text-field
                v-model="member.district"
                name="district"
                label="District"
            ></v-text-field>
            <v-text-field
                v-model="member.city"
                name="city"
                label="City"
            ></v-text-field>
            <v-text-field
                v-model="member.yob"
                name="yob"
                label="Year of Birth"
            ></v-text-field>
            </v-flex>
            <b-button @click="checkForm" variant="primary">Save Details</b-button>
        </v-card>
      </v-tab-item>



      <!-- Additional Tab -->
      <v-tab-item>
        <v-card flat>
        <v-select
          v-model="member.profession_id"
          :items="professions"
          item-text="name"
          item-value="id"
          label="Profession"
        ></v-select>          
          <v-text-field
            v-model="member.profession_description"
            name="profession_description"
            label="Profession Description"
          ></v-text-field>
          <v-text-field
            v-model="member.education"
            name="education"
            label="Education"
          ></v-text-field>

          <v-select
            v-model="member.marital_status"
            :items="marital_statuses"
            label="Marital Status"
          ></v-select>

          <v-autocomplete
            v-model="member.languages_known"
            :items="languages"
            :search-input.sync="search"
            chips
            clearable
            hide-details
            hide-selected
            multiple
            label="Languages Known"
          >
          </v-autocomplete>

          <v-text-field
            v-model="member.whatsapp"
            name="whatsapp"
            label="Whatsapp Number"
          ></v-text-field>
          <v-text-field
            v-model="member.facebook"
            name="facebook"
            label="Facebook Link"
          ></v-text-field>
           <v-text-field
            v-model="member.twitter"
            name="twitter"
            label="Twitter Link"
          ></v-text-field>
          <v-textarea
            v-model="member.participation"
            name="participation"
            label="I can contribute by"
          ></v-textarea>
          <b-button @click="checkForm" variant="primary">Save Details</b-button>
        </v-card>
      </v-tab-item>


      <!-- Admin Tab --->
      <v-tab-item>
        <v-card
          class="mx-auto"
          max-width="auto"
        >

        <div class="title">Current Location: {{current_location.name}}</div>


          <v-sheet class="pa-3 primary lighten-1">
            <v-text-field
              v-model="search"
              label="Search Location"
              dark
              flat
              solo-inverted
              hide-details
              clearable
              clear-icon="mdi-close-circle-outline"
            ></v-text-field>
            <v-checkbox
              v-model="caseSensitive"
              dark
              hide-details
              label="Case sensitive search"
            ></v-checkbox>
          </v-sheet>
          <v-card-text style="margin-bottom:20px">
            <v-treeview
              :items="items"
              :search="search"
              :filter="filter"
              :open="open"
            >
              <template v-slot:prepend="{ item, open }">
                <!--<v-btn to="/location/:item_id/create">
                    Create New Child
                </v-btn>-->
                 <v-checkbox 
                  v-model="member.location_id"
                  v-bind:value="item.id" 
                  >

                 </v-checkbox>

                <v-icon
                  v-if="item.children"
                  v-text="`mdi-${item.id === 1 ? 'home-variant' : 'folder-network'}`"
                ></v-icon>
                
              </template>
              
            </v-treeview>
            
          </v-card-text>
        </v-card>

        <v-select
          v-model="member.category_id"
          :items="categories"
          item-text="name"
          item-value="id"
          label="Contact Category"
        ></v-select>

        <v-textarea
            v-model="member.brief_intro"
            name="brief_intro"
            label="Brief Introduction"
          ></v-textarea>
        
        <v-textarea
            v-model="member.seeker_extra_info"
            name="seeker_extra_info"
            label="Extra Information"
          ></v-textarea>
        
         <v-textarea
            v-model="member.internal_remark"
            name="internal_remark"
            label="Internal Remark"
          ></v-textarea>
        
        <v-text-field
            v-model="member.year_joined"
            name="year_joined"
            label="Year Joined"
          ></v-text-field>

         <v-textarea
            v-model="member.qualities"
            name="qualities"
            label="Qualities"
          ></v-textarea>
         
          <v-textarea
            v-model="member.pds"
            name="pds"
            label="Personality Defects"
          ></v-textarea>

          <v-textarea
            v-model="member.ashram_visits"
            name="ashram_visits"
            label="Ashram Visits"
          ></v-textarea>

          <v-textarea
            v-model="member.spiritual_practice"
            name="spiritual Practice"
            label="Spiritual Practice"
          ></v-textarea>

          <v-textarea
            v-model="member.periodicals_subscription"
            name="periodicals_subscription"
            label="Periodicals Subscription"
          ></v-textarea>

          <v-textarea
            v-model="member.objections"
            name="objections"
            label="Objections"
          ></v-textarea>

          <v-checkbox 
            v-model="member.met_sr" 
            label="Met Sr?" 
            value="1">
          </v-checkbox>

          <v-textarea
            v-model="member.sr_observations"
            name="sr_observations"
            label="Sr Observations"
          ></v-textarea>
          <b-button @click="checkForm" variant="primary">Save Details</b-button>
      </v-tab-item>


      <!-- Followup Tab -->
      <v-tab-item>
        <template>
          <v-timeline align-top>
            <v-timeline-item
              v-for="(item, i) in followups"
              :key="i"
              color="red lighten-1"
              icon="mdi-buffer"
              fill-dot
            >
              <v-card
                color="red lighten-1"
                dark
              >
                <v-card-title class="title">{{moment(item.followup_date).format('DD-MM-YYYY')}}  
                  <span v-if="item.contacted_by">&nbsp;- {{item.contacted_by}}</span></v-card-title>
                <v-card-text class="white text--primary">
                  <ul>
                    <li v-if="item.contacted_by"><strong>Contacted By:</strong> {{item.contacted_by}}</li>
                    <li v-if="item.contact_status"><strong>Contact Status: </strong> {{item.contact_status}}</li>
                    <li v-if="item.meeting_date_time"><strong>Meeting: </strong> {{item.meeting_date_time}}</li>
                    <li v-if="item.contact_response"><strong>Contact Response: </strong> {{item.contact_response}}</li>
                    <li v-if="item.participation"><strong>Participation: </strong> {{item.participation}}</li>
                    <li v-if="item.comments"><strong>Comment: </strong> {{item.comments}}</li>
                  </ul>
                 <!--  <v-btn
                    color="indigo"
                    class="mx-0"
                    outline
                  >
                    Button
                  </v-btn> -->
                </v-card-text>
              </v-card>
            </v-timeline-item>
          </v-timeline>
        </template>

        <v-card flat v-model="valid">
          <v-menu
            v-model="followup_date_picker"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="followup.followup_date"
                label="Followup Date"
                prepend-icon="event"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="followup.followup_date" @input="followup_date_picker = false"></v-date-picker>
          </v-menu>

        <v-text-field
            v-model="followup.contacted_by"
            :rules="nameRules"
            name="contacted_by"
            label="Contacted By"
            required
          ></v-text-field>

        <v-select
            v-model="followup.contact_status"
            :items="contact_statuses"
            label="Contact Status"
          ></v-select>

          <v-menu
            v-if="followup.contact_status == 'Called for meeting'"
            v-model="meeting_date_picker"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="followup.meeting_date"
                label="Select Meeting Date"
                prepend-icon="event"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="followup.meeting_date" @input="meeting_date_picker = false"></v-date-picker>
          </v-menu>


        <v-menu
          v-if="followup.contact_status == 'Called for meeting'"
          ref="menu"
          v-model="meeting_time_picker"
          :close-on-content-click="false"
          :nudge-right="40"
          :return-value.sync="followup.meeting_time"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="followup.meeting_time"
              label="Select Meeting Time"
              prepend-icon="access_time"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-time-picker
            v-if="meeting_time_picker"
            v-model="followup.meeting_time"
            full-width
            @click:minute="$refs.menu.save(followup.meeting_time)"
          ></v-time-picker>
          </v-menu>

        <v-select
            v-if="followup.contact_status == 'Contact established successfully'"
            v-model="followup.contact_response"
            :items="contact_responses"
            label="Contact Response"
          ></v-select>

        <v-select
            v-if="followup.contact_response == 'Low Interest' || 
                  followup.contact_response == 'Medium Interest' ||
                  followup.contact_response == 'Good'"
            v-model="followup.participation"
            :items="participations"
            label="Status of Participation"
          ></v-select>
        
        <v-textarea
            v-model="followup.comments"
            name="comments"
            label="Comments"
          ></v-textarea>

          </v-card>

          <b-button @click="addFollowup" variant="primary">Submit</b-button>
        </v-tab-item>

    </v-tabs>

    <div class="text-xs-center mt-3">
      <v-btn @click="next">next tab</v-btn>
    </div>
    
  </div>
</template>
<script>
import Messages from '../helpers/messages.vue'
import { contact_statuses, contact_responses, participations } from '../../packages/constants';

  export default {
    created () {
        this.getMember()
    },
    data () {
      return {
        open: [1, 2],
        search: null,
        caseSensitive: false,
        items: [],
        errors:[],
        success:[],
        active: null,
        loading: false,
        member: {},
        categories: [],
        professions:[],
        locations: [],
        current_location: {},
        followup_date_picker: false,
        meeting_time_picker: false,
        meeting_date_picker: false,
        marital_statuses: ['Married', 'Unmarried', 'Divorsed'],
        languages: ['Hindi','English','Marathi','Kannada','Telugu','Tamil','Oriya','Malyalam','Gujarati'],
        followups:{},
        followup:{},
        contact_statuses: contact_statuses,
        contact_responses: contact_responses,
        show_participation_dropdown: false,
        participations: participations,
        valid: true,
        nameRules: [
          v => !!v || 'Name is required'
        ],
      }
    },
    mounted() {
          
      this.$http.get("api/categories")
        .then(response => response.json())
          .then((data) => {
            this.categories = data.data;
      }),
      this.$http.get("api/professions")
        .then(response => response.json())
          .then((data) => {
              this.professions = data.data;
      }),
      this.$http.get("api/locjson")
        .then(response => response.json())
          .then((data) => {
              this.items = data.data;
      }),
      this.$http.get("api/followups/member/" + this.$route.params.member)
        .then(response => response.json())
          .then((data) => {
              this.followups = data.data;
      })
    },
    components: {
        'messages': Messages
    },
    computed: {
      filter () {
        return this.caseSensitive
          ? (item, search, textKey) => item[textKey].indexOf(search) > -1
          : undefined
      }
    },
    methods: {
      next () {
        const active = parseInt(this.active)
        this.active = (active < 3 ? active + 1 : 0)
      },
      getMember(){
        this.loading = true;
            this.$http.get('api/members/' + this.$route.params.member)
            .then(response => {
                this.loading = false;
                this.member = response.body.data
                this.current_location = this.member.locations
                this.member.languages_known = this.member.languages_known.split(',');
            })
      },
      checkForm(){
        this.loading = true;
        
        //Convert array to comma Separated Values
        this.member.languages_known = this.member.languages_known.join(',')
        alert(this.member.languages_known);

        this.$http.put('api/members/' + this.$route.params.member, this.member)
        .then(response => {
          this.loading = false;
          this.success.push(response.data.message);
        })

      },
      addFollowup () {
        this.loading = true;
        this.followup.member_id = this.$route.params.member;

        this.$http.post('api/followups', this.followup)
        .then(response => {
          this.loading = false;
          this.success.push(response.data.message);

          //Refresh followups
        this.$http.get("api/followups/member/" + this.$route.params.member)
          .then(response => response.json())
            .then((data) => {
                this.followups = data.data;
        })
        })
      }
    }
    
  }
</script>