<template>
<div>
  <v-app id="inspire">
    <v-navigation-drawer
      fixed
      v-model="drawer"
      app
    >
      <v-list dense>
        <v-list-tile to="/">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Members</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-group
        prepend-icon="account_circle"
        value="true"
        v-if="this.role_id == 1"
      >
        <template v-slot:activator>
          <v-list-tile>
            <v-list-tile-title>Admin</v-list-tile-title>
          </v-list-tile>
        </template>

        <v-list-group
          no-action
          sub-group
          value="true"
          v-if="this.role_id == 1"
        >
          <template v-slot:activator>
            <v-list-tile>
              <v-list-tile-title>Users</v-list-tile-title>
            </v-list-tile>
          </template>

          <v-list-tile to="/user/create">
            <v-list-tile-title>Add New</v-list-tile-title>
            <v-list-tile-action>
              <v-icon>add</v-icon>
            </v-list-tile-action>
          </v-list-tile>

          <v-list-tile to="/user/list">
            <v-list-tile-title>List</v-list-tile-title>
            <v-list-tile-action>
              <v-icon>list</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-group>


        <v-list-group
          no-action
          sub-group
          value="true"
          v-if="this.role_id == 1"
        >
          <template v-slot:activator>
            <v-list-tile>
              <v-list-tile-title>Locations</v-list-tile-title>
            </v-list-tile>
          </template>

          <v-list-tile to="/location/list">
            <v-list-tile-title>Manage</v-list-tile-title>
            <v-list-tile-action>
              <v-icon>list</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-group>


        <v-list-group
          no-action
          sub-group
          value="true"
          v-if="this.role_id == 1"
        >
          <template v-slot:activator>
            <v-list-tile>
              <v-list-tile-title>Categories</v-list-tile-title>
            </v-list-tile>
          </template>

          <v-list-tile to="/category/create">
            <v-list-tile-title>Add New</v-list-tile-title>
            <v-list-tile-action>
              <v-icon>add</v-icon>
            </v-list-tile-action>
          </v-list-tile>

          <v-list-tile to="/category/list">
            <v-list-tile-title>List</v-list-tile-title>
            <v-list-tile-action>
              <v-icon>list</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-group>

        <v-list-group
          no-action
          sub-group
          value="true"
          v-if="this.role_id == 1"
        >
          <template v-slot:activator>
            <v-list-tile>
              <v-list-tile-title>Professions</v-list-tile-title>
            </v-list-tile>
          </template>

          <v-list-tile to="/profession/create">
            <v-list-tile-title>Add New</v-list-tile-title>
            <v-list-tile-action>
              <v-icon>add</v-icon>
            </v-list-tile-action>
          </v-list-tile>

          <v-list-tile to="/profession/list">
            <v-list-tile-title>List</v-list-tile-title>
            <v-list-tile-action>
              <v-icon>list</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-group>
      </v-list-group>
         



      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>

    <v-toolbar-title>Profile Members</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat to="/login" v-if=" ! isAuth">
        Login
      </v-btn>
      <v-btn flat to="/register">
       Register
      </v-btn>
      <!-- <v-btn flat to="/member/list" v-if=" isAuth">
        Members
      </v-btn> -->
      <v-btn flat to="/logout" v-if=" isAuth">
        Logout
      </v-btn>
      
    </v-toolbar-items>
  </v-toolbar>

    <v-content>


    <v-container fluid fill-height>
        <v-layout>
          <v-flex>
            <router-view />
          </v-flex>
        </v-layout>
    </v-container>


    </v-content>
  </v-app>

  <v-footer
        height="auto"
        color="primary lighten-1"
      >
        <v-layout
          justify-center
          row
          wrap
        >
          <v-btn
            v-for="link in links"
            :key="link"
            color="white"
            flat
            round
          >
            {{ link }}
          </v-btn>
          <v-flex
            primary
            lighten-2
            py-3
            text-xs-center
            white--text
            xs12
          >
            &copy;2018 — <strong>Sevaportal.com</strong>
          </v-flex>
        </v-layout>
      </v-footer>
  </div>
</template>

<script>
////import Login from './views/Login.vue'
export default {
  data () {
    return {
      isAuth: null,
       role_id: null,
       drawer: false, //Close drawer by default
      links: [
        'Home',
        'About Us',
        'Team',
        'Services',
        'Blog',
        'Contact Us'
      ],
      admins: [
        ['Management', 'people_outline'],
        ['Settings', 'settings']
      ],
      cruds: [
        ['Create', 'add'],
        ['Read', 'insert_drive_file'],
        ['Update', 'update'],
        ['Delete', 'delete']
      ]
    }
  },
  created () {
    this.isAuth = this.$auth.isAuthenticated()
    this.setAuthenticatedUser()
  },
  methods: {
    setAuthenticatedUser() {

      this.$http.get('api/user')
        .then(response => {
          this.$auth.setAuthenticatedUser(response.body)
          // eslint-disable-next-line 
          console.log(this.$auth.getAuthenticatedUser())
          this.role_id = this.$auth.getAuthenticatedUser().role;
        })

    }
  }

  
 }
</script>

